@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

#sidebar-group {
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    box-shadow: 0 0 10px #0005;
    /* padding: 10px 10px 0px 0px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.sidebar {
    min-height: 100vh;
    width: 25%;
    border-right: 1px solid #E2E5E8;
}

.sidebar-btn-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.sidebar-btn {
    width: 70%;
    height: 48px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-btn:hover {
    cursor: pointer;
}

.blue-btn {
    background-color: #007FFF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

.add-btn {
    background-color: #F9FAFA;
    border: 1px solid #99CCFF
}

.sidebar-menu {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-top: 40px;
}

.list {
    list-style: none;
    width: 100%;
}

.list-item {
    width: 100%;
}

.list-item a {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #434D56;
    font-weight: 400;;
    padding: 20px 10px;
    width: 100%;
}

.selected {
    background-color: #F0F7FF;
    color: #007FFF;
    border-radius: 8px;
    padding: 0px, 12px, 0px, 12px;
}

.icon-menu {
    margin-left: 16px;
}

.sair {
    color: #CD0033;
}

.marker {
    display: block;
    width: 100%;
    border: 1px solid #C6CCD2;
}

.profile {
    display: flex;
    gap: 8px;
    align-items: center;
}

.profile-icon {
    margin-left: 8px;
}

.profile-name {
    font-weight: 400;
    font-size: 14px;
    color: #434D56;
}

.profile-role {
    font-weight: 400;
    font-size: 12px;
    color: #8C99A6;
}

/* main content */
.main {
    background-color: #F0F7FF;
    min-height: 100vh;
    width: 100%;
    /* gap: 32px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gap {
    margin-bottom: 32px;
}

.flex {
    display: flex;
    gap: 10px;
    width: 95%;
}

.hamburguer-wrapper {
    margin-top: 40px;
    width: 95%;
}

.hamburguer {
    border: none;
    display: none;
    /* min-width: 40px; */
    background: transparent;
    cursor: pointer;
    border: none;
}

.title {
    width: 95%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-hamburguer {
    color: #434D56;
    margin: 10px 0 0 10px;
}

.text {
    font-size: 24px;
    font-weight: 700;
}

.btn { 
    font-weight: 600;
    font-size: 12px;
    border: #007FFF;
    border-radius: 4px;
    background-color: #007FFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px 10px;
}

.btn:hover {
    cursor: pointer;
}

.summary {
    width: 95%;
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-item {
    background-color: #FFFFFF;
    width: 24%;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-icon {
    width: 15%;
    height: 48px;
    background-color: #F0F7FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info {
    width: 77%;
    height: 48px;
}

.info-title {
    font-size: 20px;
    font-weight: 400;
    color: #007FFF;
}

.info-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8C99A6;
}

.content {
    background-color: #FFFFFF;
    width: 95%;
    /* min-height: 110vh; */
    border-radius: 8px;
    overflow-x: auto;
}

table {
    width: 100%;
    overflow-x: auto;
}

tr {
    display: flex;
    width: 100%;
    padding: 8px 12px;
}

th, td {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #434D56;
    font-size: 14px;
    font-weight: 500;
    word-break: break-all;
    /* justify-content: space-evenly; */
    min-width: 225px;
}

td {
    font-weight: 400;
}

.action-icons-group {
    display: flex;
    gap: 12px;
}

.td-icon {
    border-radius: 8px;
    background-color: #F0F7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.td-icon:hover {
    cursor: pointer;
}

.icon-phone {
    background-color: #E9FBF5;
}

.text-middle {
    display: flex;
    align-items: center;
    gap: 10px;
}

#modal {
    position: fixed;
    background-color: #00000088;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal:target {
    opacity: 1;
    visibility: visible;
}

#modal-form {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 650px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px #00000088;
    top: -50px;
    transition: .3s;
    opacity: 0;
}

#modal:target #modal-form {
    top: 10px;
    opacity: 1;
}

#modal-close {
    margin-left: auto;
    color: #434D56
}

.form-input, select {
    line-height: 2;
    padding: 5px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}


.form-submit {
    margin-left: auto;
}

@media (max-width: 1600px) {
    body {
        flex-direction: column;
    }

    .hamburguer-wrapper {
        margin-bottom: 32px;
    }

    .hamburguer {
        display: block;
    }

    #sidebar-group {
        position: fixed;
        /* display: flex; */
        transform: translateX(-105%);
        transition: .5s;
        max-height: 100vh;
        overflow: auto;
    }

    #sidebar-group.visible {
        transform: translateX(0);
    }

    .main {
        width: 100%;
    }
}

@media (max-width: 1366px) {

    .summary {
        flex-wrap: wrap;
    }
    .summary-item {
        width: 49%;
        margin-top: 8px;
    }

    th td {
        font-size: 12px;
    }

}

@media (max-width: 1000px) {

    .summary-item {
        width: 100%;
        justify-content: flex-start;
        padding: 0 12px;
    }

    .item-icon {
        /* width: 5%; */
        margin-right: 12px;
    }

    th {
        display: none;
    }

    tr {
        display: block;
    }

    td {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 24px 0;
    }

    .hide {
        display: none;
    }

    td::before {
        content: attr(data-cell);
        font-weight: 600;
    }

}